body{
    margin:0px;
    width: 100%;
    height: 100%;
}
.block{
    padding: 10px;
    border: 1px solid black;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    padding: 30px;
    justify-content: end;
    grid-column-gap: 250px;
    grid-row-gap: 250px;
}

.header{
    display: grid;
    height: 200px;
    background: url(assets/bg.png) ;
    background-position: top;
    width: 1875px;
    height: 300px;
    margin-top: 0;
    padding-top: 0;
   
}

.header h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    font-size: 80px;
    word-spacing:50px;
    justify-content: center;
    letter-spacing: 8px;
}

a {
    color:white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  nav{
    display: grid;
    justify-content: center;
    
  }

  ol li{
    display: inline;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    background-color: #23346e;
  }

  .zagolovok h2{
    word-spacing: 15px;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 30px;
  }

  .container{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 80px;
    align-content: center;
    padding: 30px;
    grid-column-gap: 40px;
    text-indent: 15px;
}

.geography{
    display: grid;
    border: solid 2px #23346e;
    border-radius: 20px;
    background-color: moccasin;
    text-indent: 15px;
}

.map{
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
}

.map img{
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px #444;
}
.geography p{
    font-size: 18px;
    text-indent: 15px;
}

.admin p{
    font-size: 18px;
    text-indent: 15px;
}

.admin img{
    display: grid;
    justify-self: center;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px #444;
}

.transport{
    display: grid;
    border: none;
    font-size: 18px;
    text-indent: 15px;
}

.transport img{
    display: grid;
    justify-self: center;
    align-items: center;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px #444;
}

footer{
    display: grid;
    width:100%;
    height: 120px;
    background-color: #23346e;
    color: white;
  }

  hr{
    display: block;
    border: 1px solid #23346e ;
}


